<!-- Transactions Screen -->
<div id="screen-transactions" role="screen">
	<div class="page-header">
		<h1>
			Transactions <small>All Accounts</small>
		</h1>
	</div>
	<div class="row">
		<div class="dropdown col-sm-2">
			<button class="btn btn-default dropdown-toggle" type="button" id="transactions-account-select"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select Account <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="transactions-account-select">
				<li><a>Checking Account</a></li>
				<li><a>Savings Account</a></li>
				<li><a>Credit Card 1</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1 col-xs-2">
			<h4>Date</h4>
		</div>
		<div class="col-sm-2 col-xs-4">
			<h4>Account</h4>
		</div>
		<div class="col-sm-1 col-xs-2">
			<h4>Type</h4>
		</div>
		<div class="col-sm-1 col-xs-2">
			<h4>Amount</h4>
		</div>
		<div class="col-sm-1 col-xs-3" data-toggle="tooltip" data-placement="left"
			title="Reconciled Flag - Check the box to mark as reconciled">
			<h4>Rec</h4>
		</div>
		<div class="col-sm-6 hidden-xs">
			<h4>Description</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1 col-xs-2">2/1/2015</div>
		<div class="col-sm-2 col-xs-4">Checking</div>
		<div class="col-sm-1 col-xs-2">Withdrawl</div>
		<div class="col-sm-1 col-xs-3">$1424.00</div>
		<div class="col-sm-1 col-xs-1">
			<input type="checkbox" checked="checked" />
		</div>
		<div class="hidden-sm col-xs-1"></div>
		<div class="col-sm-6 col-xs-11">Cash withdrawl for budget</div>
	</div>
	<div class="row">
		<div class="col-sm-1 col-xs-2">1/31/2015</div>
		<div class="col-sm-2 col-xs-4">Checking</div>
		<div class="col-sm-1 col-xs-2">Check</div>
		<div class="col-sm-1 col-xs-3">$100.00</div>
		<div class="col-sm-1 col-xs-1">
			<input type="checkbox" checked="checked" />
		</div>
		<div class="hidden-sm col-xs-1"></div>
		<div class="col-sm-6 col-xs-11">Church - Check #444 (budget breakdown...)</div>
	</div>
	<!-- /id=transactions -->
</div>
